.stepWrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 110px 20px 110px;
    box-sizing: border-box;
    @media screen and (max-width: '566px') {
        padding: 5px;
        align-items: center;
    }

    .startForm {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: '566px') {
            align-items: center;
        }

        .buttonsWrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 67px;

            @media screen and (max-width: '566px') {
                width: 90%;
                justify-content: space-around;
            }
        }

        .button {
            width: 79px;
            height: 44px;
            background: #5558FA;
            border-radius: 4px;
            color: white;
            transition: all 0.3s ease;
            border: none;
            margin-top: 24px;
            padding: 0;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                background: darken(#5558FA, 10%);
            }

            &:active {
                box-shadow: 0 0 10px rgb(0 0 0 / 50%);
            }
        }

        .transparentBtn {
            background-color: white;
            color: #5558FA;
            border: 1px solid #5558FA;

            &:hover {
                color: white;
            }
        }
    }

    .inputWrapper {
        display: flex;
        align-items: center;

        .removeButton {
            border: none;
            background: none;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .addButton {
        width: 44px;
        height: 44px;
        border: 1.5px solid #5558FA;
        background: none;
        border-radius: 4px;
        box-sizing: border-box;
        color: #5558FA;
        font-size: 16px;
        margin-top: 8px;
        cursor: pointer;
    }

    .checkboxes+div,
    .radioGroup+div {
        display: flex;
        flex-direction: column;
    }

    .checkboxes,
    .radioGroup {
        margin-top: 24px;
    }

}
